<h1> {{titulo}} </h1> 
<form>
  <div class="form-group">
    <label>Operando A</label>
    <input
     type="number"
     class="form-control"
     placeholder="Escribe operando A"
     [(ngModel)]="operandoA"
     name="operandoA"
     [ngModelOptions]="{standalone: true}"
     />
  </div>

  <div class="form-group">
    <label>Operando B</label>
    <input
     type="number"
     class="form-control"
     placeholder="Escribe operando B"
     [(ngModel)]="operandoB"
     name="operandoB"
     [ngModelOptions]="{standalone: true}"
     />
  </div>

  <button type="submit" class="btn-primary" 
  (click)="onSumar()">sumar</button>

  <button type="submit" class="btn-primary" 
  (click)="onRestar()">restar</button>

  <button type="submit" class="btn-primary" 
  (click)="onMultiplicar()">multiplicar</button>

  <button type="submit" class="btn-primary" 
  (click)="onDividr()">dividir</button>

</form>
<p>resultado {{resultado}} </p>